{{outlet}}

<h4 class="well">ADMIN</h4>

{{#each model as |r|}}
  {{rest-tile
      resto=r
      dropResto="destroyResto"
      editResto="updateResto"
  }}
{{/each}}

{{rest-add model=model submitResto="saveResto"}}
